{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}



{% block body %}

    <a href=" {{ path('app_game') }}">retour menu</a>
    <a href=" {{ path('app_game_admin') }}"></a>
    <h1>Hello article</h1>
        <h2>{{ game.name|raw }}</h2>
        <p>{{ game.content |raw}}</p>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_game_edit', {'slug': game.slug}) }}">Editer</a>
    {% endif %}







{% endblock %}
